<link rel="stylesheet"
	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	  crossorigin="anonymous">
<link rel="stylesheet"
	  href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"
	  crossorigin="anonymous">
<style>
	.btn-position {
		width: 68px;
	}
</style>
<table class="wp-list-table widefat fixed striped posts"
	   id="keywords">
	<thead>
	<tr>
		<th scope="col" id="author" class="manage-column column-author">Zdroj</th>
		<th scope="col" id="author" class="manage-column column-author">Dotaz</th>
		<th scope="col" id="author" class="manage-column column-author">Pozice</th>
		<th scope="col" id="author" class="manage-column column-author">Změna</th>
	</tr>
	</thead>
	<tbody>